@font-face {
    font-family: 'ieb'; /* Project id 2670116 */
    src: url('//at.alicdn.com/t/font_2670116_0onl1pw7hli.woff2?t=1628673048681') format('woff2'),
        url('//at.alicdn.com/t/font_2670116_0onl1pw7hli.woff?t=1628673048681') format('woff'),
        url('//at.alicdn.com/t/font_2670116_0onl1pw7hli.ttf?t=1628673048681') format('truetype');
}

.ieb {
    font-family: 'ieb' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ieb-mobile:before {
    content: '\e605';
}

.ieb-party:before {
    content: '\e7d5';
}

.ieb-building:before {
    content: '\e9e4';
}

.ieb-loop:before {
    content: '\e723';
}

.ieb-marker_fill:before {
    content: '\e615';
}

.ieb-exclaimination:before {
    content: '\eb30';
}

.ieb-down_triangle:before {
    content: '\e612';
}

.ieb-apply:before {
    content: '\e60a';
}

.ieb-phone:before {
    content: '\e611';
}

.ieb-email:before {
    content: '\e672';
}

.ieb-marker:before {
    content: '\e625';
}

.ieb-pc:before {
    content: '\e607';
}

.ieb-search:before {
    content: '\e600';
}

.ieb-circle:before {
    content: '\e62f';
}

.ieb-screen:before {
    content: '\e68a';
}

.ieb-right:before {
    content: '\e614';
}

.ieb-left:before {
    content: '\e777';
}

.ieb-sort:before {
    content: '\e776';
}

.ieb-down:before {
    content: '\e6f7';
}
