.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20rpx;
    z-index: 999;
    position: relative;
    height: 64rpx;
}

.nav-box .title {
    font-weight: bold;
    font-size: 32rpx;
    color: #fff;
}

.nav-box.align-left {
    justify-content: start;
}

.nav-box.align-right {
    justify-content: end;
}