.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20rpx;
    z-index: 999;
    position: relative;
    height: 64rpx;
}

.nav-box .title {
    font-weight: bold;
    font-size: 32rpx;
    color: #fff;
}

.nav-box.align-left {
    justify-content: start;
}

.nav-box.align-right {
    justify-content: end;
}

.wx-card {
    margin: 30rpx;
    background-color: #ffffff;
    padding: 30rpx;
    border-radius: 12rpx;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20rpx 0;
    overflow: hidden;
}

.wx-card .wx-card-title {
    margin-bottom: 30rpx;
    color: rgba(0, 0, 0, 0.5);
}

.wx-card .weui-card-cells {
    margin: -30rpx;
}

.wx-card .weui-card-cells::before,
.wx-card .weui-card-cells::after {
    display: none;
}

.wx-card .weui-card-cells .weui-cell::before {
    right: 32rpx;
}

.wx-card .weui-card-cells .weui-cell.weui-cell_select {
    padding-left: 32rpx;
}


/*更多*/

.morelink {
    color: #02b8cd;
}

.morelink::after {
    content: " ";
    position: relative;
    top: -2rpx;
    display: inline-block;
    height: 14rpx;
    width: 14rpx;
    border-width: 2rpx 2rpx 0 0;
    border-color: #02b8cd;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}


/*更多-end*/

.mr17 {
    margin-right: 34rpx !important;
}

.mr7 {
    margin-right: 14rpx !important;
}


/*边框圆角*/

.radius-1 {
    border-radius: 2rpx !important;
}

.radius-2 {
    border-radius: 4rpx !important;
}

.radius-3 {
    border-radius: 6rpx !important;
}

.radius-4 {
    border-radius: 8rpx !important;
}

.radius-5 {
    border-radius: 10rpx !important;
}

.radius-6 {
    border-radius: 12rpx !important;
}

.radius-7 {
    border-radius: 14rpx !important;
}

.radius-8 {
    border-radius: 16rpx !important;
}

.radius-9 {
    border-radius: 18rpx !important;
}

.radius-10 {
    border-radius: 20rpx !important;
}

.radius-11 {
    border-radius: 22rpx !important;
}

.radius-12 {
    border-radius: 24rpx !important;
}

.radius-13 {
    border-radius: 26rpx !important;
}

.radius-14 {
    border-radius: 28rpx !important;
}

.radius-15 {
    border-radius: 30rpx !important;
}

.radius-16 {
    border-radius: 32rpx !important;
}

.radius-full {
    border-radius: 50% !important;
}


/*圆角 0-16 end*/


/*灰阶颜色*/

.gray-color {
    color: #000 !important;
}

.gray-one-color {
    color: #333333 !important;
}

.gray-two-color {
    color: #666666 !important;
}

.gray-three-color {
    color: #999999 !important;
}

.gray-four-color {
    color: #bdbdbd !important;
}

.gray-five-color {
    color: #e6e6e6 !important;
}


/*灰阶end颜色*/


/*主题色*/

.primary-color {
    color: #02b8cd !important;
}


/*主题色end*/


/*常用颜色*/

.color-blue {
    color: #85c920 !important;
}

.red-color {
    color: #cf2525;
}

.white-color {
    color: #fff;
}


/*高亮色*/

.hi-color {
    color: #ff9a1b !important;
}


/*高亮色--end*/


/*文本截行*/

.omit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
}

.omit-1 {
    -webkit-line-clamp: 1;
}

.omit-2 {
    -webkit-line-clamp: 2;
}

.omit-3 {
    -webkit-line-clamp: 3;
}

.omit-6 {
    -webkit-line-clamp: 6;
}

.no-omit {
    white-space: normal;
    word-break: break-all;
}

.no-nowrap {
    white-space: nowrap;
}